################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UiPathTeam.GenerateRandomPassword.Activities/obj/Debug
/.vs/UiPathTeam.GenerateRandomPassword.Activities/v15
/UiPathTeam.GenerateRandomPassword.Activities.Tests/obj/Debug
/UiPathTeam.GenerateRandomPassword.Activities.Tests/bin/Debug
/UiPathTeam.GenerateRandomPassword.Activities/bin/Debug
/.vs
/Packaging/obj
/UiPathTeam.GenerateRandomPassword.Activities/obj
/Packaging/.DS_Store
/Output/Activities
